# Obsidian Vault Path
# Set this to the absolute path of your Obsidian vault directory
# Example: /Users/username/Documents/MyVault
# Example: /Users/username/Library/Mobile Documents/iCloud~md~obsidian/Documents/MyVault
OBSIDIAN_VAULT_PATH=
